* {
	font-family: 微軟正黑體;
}

.maintitel {
 text-align: center;
 font-size: 40px;
 color: #00aeee;
 padding-bottom: 20px;
 border-bottom: 2px solid #EBEBEB;
}


#header > img {
 width: 150px;
 height: auto;
 position: absolute;
}

#header > h1 {
 padding: 37px 10px;
 text-align: center;
}

